.App {
  width: 100vw;
  height: 250em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, #2142b0, #6deded);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.search {
  text-align: center;
}

.search input[type="text"] {
  width: 400px;
  padding: 15px;
  margin: 15px;
}

.radios {
  display: flex;
  justify-content: space-evenly;
}

.data-results {
  margin-top: 15%;
}
